[submodule "modules/asio"]
	path = modules/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "modules/cycle_ptr"]
	path = modules/cycle_ptr
	url = https://github.com/nahratzah/cycle_ptr.git
[submodule "modules/libhoard"]
	path = modules/libhoard
	url = https://github.com/nahratzah/libhoard.git
[submodule "modules/unittest-cpp"]
	path = modules/unittest-cpp
	url = https://github.com/unittest-cpp/unittest-cpp.git
[submodule "modules/prometheus-cpp"]
	path = modules/prometheus-cpp
	url = https://github.com/jupp0r/prometheus-cpp.git
[submodule "modules/spdlog"]
	path = modules/spdlog
	url = https://github.com/gabime/spdlog.git
